{% extends 'base.html' %}

{% block contents %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Cart Summary</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <div class="container px-4 px-lg-5 mt-5">

            {% if not cart_products %}
                <h3>There is nothing in cart</h3>
            {% else %}
                {% for product in cart_products %}
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>

                            {% if product.is_sale %}
                                <strike>${{ product.price }}</strike>
                                ${{ product.sale_price }}
                            {% else %}
                                ${{ product.price }}
                            {% endif %}
                          <br><br>
                          <div class="row">
                              <div class="col-md-2">Quantity:</div>
                              <div class="col-md-2">

                                <select class="form-select" id="select-{{ product.id }}">
                                    {% for key, value in quantities.items %}
                                      {% if key == product.id|slugify %}
                                        <option selected="selected" value="{{ value }}">{{ value }}</option>
                                      {% endif %}
                                    {% endfor %}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                              </div>
                          </div>
                          <br><br>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-secondary update-cart">Update</button>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>

                {% endfor %}

            <div align="right">
                <h3>Total: ${{ total }}</h3>
                <a href="{% url 'checkout'  %}" class="btn btn-secondary">Checkout</a>
            </div>

            {% endif %}
            <br><br>
            <a href="{% url 'home' %}"><< Home</a>
            <br><br>
       </div>
<script>
$(document).on('click', '.update-cart', function(e){
    e.preventDefault();

    var product_id = $(this).data('index')

    $.ajax({
        type: 'POST',
        url: '{% url 'cart_update' %}',
        data: {
            product_id: product_id,
            product_qty: $("#select-" + product_id + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json) {
            location.reload();
        },
        error: function(xhr, errmsg, err) {

        }
    });
});

$(document).on('click', '.delete-product', function(e){
    e.preventDefault();

    var product_id = $(this).data('index')

    $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
            product_id: product_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json) {
            location.reload();
        },
        error: function(xhr, errmsg, err) {

        }
    });
});
</script>

{% endblock contents %}

